<html xmlns:th="https://thymeleaf.org>
<body>
	<h1 style=" color:blue; text-align:center">login page</h1>
<form th:action="@{/login}" method="POST">
	<table border="o" ;bgcolor="cyan" ; align="center">
		<tr>
			<td>userName::</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password::</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>

			<td><input type="submit" value="Login"></td>

			<td><input type="reset" value="cancel"></td>

		</tr>

	</table>

	<input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}" /> <span
		style="color: red; text-align: center" th:if="${param.error}">Invalid
		Login details (authentication failed)</span> <span
		style="color: red; text-align: center" th:if="${param.signout}">User
		Logged successfully </span>

</form>
</html>